.cell-style-3 {
  background-color: black;
  text-align: center;
  border: 1px solid;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  width: 10%;
  height: 185px;
  padding: 3%;
};

.icon-size-3 {
  font-size: 6rem;
}

@media(max-width: 700px) {
  .cell-style-3{
    height: 130px;
  }

  .icon-size-3 {
    font-size: 4rem;
  }

}

@media (max-width: 525px) {
  .cell-style-3 {
    height: 100px;
  }

  .row-style-9{
    height: 30px !important;
  }

  .icon-size-3 {
    font-size: 3rem;
  }
}

.App-link {
  color: #61dafb;
}
