
.cellThree {
  max-width: 100% !important;
  height: 185px;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  text-align: center;
  border: 1px solid;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
}

.cellNine { 
  width:5%;
  height: 60px;
  padding:1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
  border: 1px solid;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 90%;
}

.iconThree {
  font-size: 6rem;
}

.iconNine {
  font-size: 3rem;
}

.heading {
  color:white;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #212121;
  opacity: 0.7;
  margin-bottom: 5%;
}

.boardInfo{
  background-color: #212121;
  opacity: 0.7;
  color: white;
  margin-top: 5%;
  text-align: center;
  vertical-align: middle;
}

.button {
  font-size: 0.80rem !important;
  padding: 0.45rem 0.7rem !important;
  margin-left: -10px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out !important;
}

.button:hover{
  background-color: white !important;
  color: #212121 !important;
}

.lightHeading {
  color: black !important;
  background-color: rgb(175, 165, 165) !important;
}

.center {
  margin: auto;
}

.whiteBg{
  background-color: white !important;
}

.greyCell{
  background-color: #cec1c1 !important; 
  color: white;
}

@media screen and (max-width: 650px) {
  
  .cellThree{
    padding-top: 30%;
    height: 130px;
  }

  .iconThree {
    font-size: 4rem;
  }

  .iconNine {
    font-size: 2rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .center {
    font-size: 0.85rem;
  }

  .button {
    font-size: 0.7rem !important;

  }
}

@media screen and (max-width: 525px) {

  .cellNine{
    height: 30px !important;
  }

  .iconThree {
    font-size: 2.5rem;
  }

  .iconNine{
    font-size: 1rem;
  }

  .cellThree {
    height: 100px;
    padding-top: 25%;
  }
}


@media screen and (max-width: 625px) {

  .cellThree {
    height: 100px;
    padding-top: 25%;
  }

  .iconNine{
    font-size: 1rem;
  }
}
