.wrapper {
  margin: auto;
  align-items: center;
  background-image: url('../assets/idea2.gif');
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  font-family: 'Acme', sans-serif;

}

.mainDiv {
  min-height: 100vh;
  /* margin: 0; */
  overflow: auto;
  display: flex;
}

.containerBody {
  background-color: #ad4977;
  text-align: center;
  margin: auto;
  min-height: 70vh;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
}

.btn-primary {
    color: #fff;
    background-color: #3b3251 !important;
}

.heading {
  margin-bottom: 10%;
  color: #ffffff;
  font-family: 'Acme', sans-serif;
}

.startContent {
  color: #ffffff;
  font-family: 'Acme', sans-serif;
}

.iconStyles {
  color: #3b3251;
  /* color: #AD4977; */
}
.iconStyles:hover {
  /* color: #3b3251; */
  color: #3b3251d2;
}

.icon {
  text-align: 'center';
  display: 'inline-block';
}

@media screen and (min-width: 801px) {
  .heading {
    font-size: 50px;
  }
  .subheading {
    font-size: 20px;
  }
  .startContent {
    font-size: 30px;
  }
  .iconStyles {
    font-size: 6rem;
  }
  .icon {
    margin: '0 10%';
  }
}
@media screen and (max-width: 800px) and (min-width: 361px) {
  .heading {
    font-size: 30px;
  }
  .subheading {
    font-size: 20px;
  }
  .startContent {
    font-size: 20px;
  }
  .iconStyles {
    color: #3b3251;
    font-size: 4rem;
  }
  .icon {
    margin: '0 7%';
  }
}

@media screen and (max-width: 360px) {
  .heading {
    font-size: 20px;
  }
  .subheading {
    font-size: 15px;
  }
  .startContent {
    font-size: 15px;
  }
  .iconStyles {
    font-size: 3rem;
    color: #3b3251;
  }
}
