


.box { 
    width:300px;
    background-color: rgb(70, 180, 98);
    -webkit-box-shadow: 10px 10px 5px 0px #42d67b42;
    -moz-box-shadow: 10px 10px 5px 0px #42d67b42;
    box-shadow: 10px 10px 5px 0px #42d67b42;
    
}

.text{
    background-color: darkgreen;
    color:  white; 
    font-family: 'Acme', sans-serif;
}