.App {
  text-align: center;
  /* background-image: url("./astronaut-standing-at-mars.jpg"); */
  /* background-color: 'pink'; */
  /* position: fixed;  */
  /* min-width: 100%; */
  /* min-height: 100%; */
  /* background-size: cover; */
  /* background-position: center;  */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cell-style-three {
  background-color: black;
  text-align: center;
  border: 1px solid;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  width: 10%;
  height: 185px;
  padding: 3%;
};

.icon-size-3 {
  font-size: 6rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media(max-width: 700px) {
  .cell-style-three{
    height: 130px;
  }

  .icon-size-3 {
    font-size: 4rem;
  }

}

@media (max-width: 525px) {
  .cell-style-three {
    height: 100px;
  }

  .row-nine{
    height: 30px !important;
  }

  .icon-size-3 {
    font-size: 3rem;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

